@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;500;600&family=Roboto+Mono:wght@100;200;300;400;600;700&display=swap');

*{
    font-family: 'Geologica', sans-serif;
}

.navbar{
    background:linear-gradient(10deg , rgb(57, 61, 61) 9% , rgb(148, 148, 194) 71%);
}
.nav-item a{
    transition: ease .3s;
    &:hover{
        transform: scale(1.1);
        transition: ease .3s;
        color:rgb(172, 172, 172) !important;
    }
}


/*Slider*/
.carousel{
    position: relative; //carousel-caption kısmıdnaki metin için 


    img{
        border-radius:40px;
        height:450px;
        object-fit: cover;
        opacity: 0.7;
    }
    &-caption{
        position: absolute;
        top:50%;
        h5,p{
            text-shadow: 5px 5px 10px black ;
        }
    }
}


/*Cards*/

.card{
    transition: .3s;
    &:hover{
        box-shadow: 2px 2px 15px rgb(194, 194, 194);
        transform: scale(1.06);
        transition:ease .3s;
    }
}
/* Title */
.title{
    background: linear-gradient(115deg, rgb(34, 34, 34) 7%,rgb(0, 40, 60) 50%, rgb(0, 143, 213) 93%);
    .breadcrumb-item:before{ //Burada titleda ki slash işaretinin rengini değiştirdik.
        color:white;
    }
}
.accordion{
    background: linear-gradient(90deg, rgb(77,126, 190,0.7),rgba(142,164,286,0.623));
    
}
#course{
    transition: ease .3s;
    
    &:hover{
        transition:ease .3s;
        transform: scale(1.1);
    }
}
